form.search_form {
	width: 100%;
	height: 38px;

	input {
		background: transparent;
		font-size: 14px;
	}
	.btn {
		color: #fff;
		background: #ffc107;
	}
}
article {
	border-radius: 10px;
	overflow: hidden;

	.category a {
		color: $black;
		font-size: 13px;
		padding: 4px 15px;
		background: $mainColor;
		border: 1px solid #ffc107;
		border-radius: 16px;
		text-transform: uppercase;
		margin-bottom: 14px;
	}
	.card-body {
		padding-top: 25px;
	}
	.entry-meta {
		padding-top: 6px;

		li {
			margin-right: 20px;
			font-size: 15px;

			a,
			.bi {
				color: #555;
			}
			.bi {
				padding-right: 5px;
			}
		}
	}
	.entry-title {
		color: #222;
		h2 {
			font-size: 25px;
		}
	}
	.entry-content {
		margin: 16px 0;
	}
}
.categories ul {
	li {
		padding: 10px 0;
		border-bottom: 1px dotted #ddd;
	}
	a {
		color: #222;

		span {
			color: #777;
		}
	}
}
.posts_list {
	.post {
		display: flex;
		margin-bottom: 20px;

		img {
			width: 30%;
			max-width: 100px;
			margin-right: 15px;
			object-fit: cover;
		}
		h4.post-title a {
			color: #222;
			font-size: 17px;
		}
		.date {
			color: #888;
			font-size: 15px;
			.bi {
				padding-right: 5px;
			}
		}
	}
}
