/*!----- BLOG COMPONENTS -------*/
article.post {
	border-radius: 10px;
	overflow: hidden;

	.category {
		position: absolute;
		top: 20px;
		a {
			color: #fff !important;
			font-size: 13px;
			padding: 4px 15px;
			background: $mainColor;
			border: 1px solid $mainColor;
			border-radius: 16px;
			text-transform: uppercase;
			margin-bottom: 14px;
		}
	}
	.card-body {
		padding-top: 25px;
	}
	.entry-meta {
		padding-top: 6px;
		text-transform: capitalize;

		li {
			margin-right: 18px;
			font-size: 15px;

			a,
			.bi {
				color: $textGray;
			}
			.bi {
				padding-right: 5px;
			}
		}
	}
	.entry-title {
		a {
			color: #222;
		}
	}
	.entry-content {
		margin: 16px 0;
	}
}
.posts_list {
	.post {
		display: flex;
		margin-bottom: 20px;

		img {
			width: 30%;
			max-width: 100px;
			margin-right: 15px;
			object-fit: cover;
		}
		h4.post-title a {
			color: #222;
			font-size: 17px;
		}
		.date {
			color: $textGray;
			font-size: 15px;
			text-transform: capitalize;

			.bi {
				padding-right: 5px;
			}
		}
	}
}

form.search_form {
	width: 100%;
	height: 38px;

	input {
		background: transparent;
		font-size: 14px;
	}
	.btn {
		color: #fff;
		background: $mainColor;
	}
}
.categories ul {
	li {
		padding: 10px 0;
		border-bottom: 1px dotted #ddd;
	}
	a {
		color: #222;

		span {
			color: $textGray;
		}
	}
}
.tags ul {
	li {
		border-color: #555;
		border-radius: 2px;
		a {
			color: #555;
			transition: 0.4s;
			text-transform: capitalize;
		}
	}
	li:hover {
		background: $mainColor;
		border-color: $mainColor;
		a {
			color: #fff !important;
		}
	}
}
