/*!----- HEADER -------*/
header {
	background: #fff;

	nav .navbar-collapse {
		a.nav_link {
			color: #fff;
			display: block;
			font-weight: 500;
			padding: 10px;
			margin-right: 8px;
			letter-spacing: 0.2px;
			// font-family: 'Open Sans';

			&.active,
			&:hover {
				color: $mainColor !important;
			}
		}
	}

	#main_navbar {
		padding: 14px 0;
		.container {
			justify-content: flex-end;
		}

		.logo {
			display: block;
			max-width: 185px;
			margin-right: auto;
		}
		#searchBtn {
			color: #fff;
			padding: 0 10px;
			font-size: 22px;
		}
		.navbar-toggler {
			color: #fff;
			border: none !important;
			box-shadow: none !important;
			font-size: 34px;
			padding-left: 2px;
			margin-left: 6px;
		}
		#searchBtn,
		.navbar-collapse {
			@include hideOnPc;
		}
		#searchForm {
			width: 100%;
			form.search_form {
				max-width: 360px;
				height: 38px;
				margin-left: auto;
			}
		}
	}

	#desktop_navbar {
		background: #111;
		@include hideOnMobile;
	}
}
main {
	#sidebar {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
		padding: 30px;
		margin-bottom: 20px;

		.widget {
			margin-bottom: 40px;

			h3.sidebar-title {
				font-size: 22px;
				text-transform: uppercase;
				position: relative;
				margin-bottom: 26px;

				&::after {
					content: '';
					height: 2px;
					width: 60px;
					position: absolute;
					left: 0;
					bottom: -10px;
					background: $mainColor;
				}
			}
			.image {
				max-width: 580px;
				padding: 18px 0;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
			}
		}
	}

	#posts_pagination ul {
		padding-top: 15px;
		.page-link {
			color: #555;

			&:focus {
				border-color: #ffc107;
				box-shadow: none;
			}
		}
		li.active a,
		a:focus {
			// color: #222;
			background-color: $mainColor;
			border-color: $mainColor;
		}
	}
}
/*!----- FOOTER -------*/
footer {
	color: #bbb;
	padding: 10px;
	background: #222;
	text-align: center;
	margin-top: 30px;

	.container .col-md-6 {
		margin: 10px auto;
	}
	.social a i {
		font-size: 19px;
	}
}

// WHATSAPP BUTTON
#whatsapp_button {
	position: fixed;
	right: 7%;
	bottom: 50px;
	z-index: 10;
	transition: 1s;
	// hide button
	transform: translateY(200px);

	.bi-whatsapp {
		color: #fff;
		font-size: 30px;
	}

	&._show {
		transform: translateY(0);
	}
}

/*!----- RESPONSIVE STYLES -------*/
@include mobile {
	header {
		background: #111;

		#main_navbar .navbar-collapse ul {
			background: #fff;

			a.nav_link {
				color: #222;
				padding: 12px;
				margin: 0;
				border-bottom: 1px solid #ddd;
				&:hover {
					background: #f5f5f5;
				}
			}
		}
		#main_navbar #searchForm {
			transform: translateY(-100vh);
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			display: grid;
			place-content: center;
			z-index: 5;

			form.search_form {
				width: 85vw;
				height: 45px;
				margin-bottom: 50%;
				z-index: 6;
			}
			.overlay {
				width: 100vw;
				height: 100vh;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(26, 26, 26, 0.94);
			}
			&.slideUp {
				transform: translateY(0);
			}
		}
	}
	main {
		#sidebar {
			padding: 30px 20px;
		}
	}
}
