/*!----- HEADER -------*/
header {
	background: #fff;
	.main_navbar {
		padding: 10px 0;
		.logo {
			display: block;
			max-width: 210px;
		}
		#searchForm {
			width: 100%;
			form.search_form {
				max-width: 360px;
				height: 38px;
				margin-left: auto;
			}
		}
	}

	.navbar {
		background: #222;
		.container {
			justify-content: space-between;
			flex-direction: row-reverse;
		}

		#searchBtn {
			color: #fff;
			padding: 0 10px;
			font-size: 22px;
			@include hideOnPc;
		}
		.navbar-toggler {
			color: #fff;
			border: none !important;
			box-shadow: none !important;
			font-size: 34px;
			padding-left: 2px;
			margin-left: 6px;
		}
		.navbar-collapse {
			a.nav_link {
				color: #fff;
				display: block;
				font-weight: 500;
				padding: 10px;
				margin-right: 8px;
				letter-spacing: 0.2px;

				&.active,
				&:hover {
					color: $mainColor !important;
				}
			}
			li:first-of-type a {
				padding-left: 0;
			}
		}
	}
}
main {
	.cover_title {
		padding: 14px 0;
		background: #f5f5f5;
		.container {
			justify-content: space-between;
			._title {
				text-transform: uppercase;
			}
		}
		ul {
			li {
				color: #555;
				text-transform: capitalize;
				a {
					color: $mainColor;
				}
				& + li::before {
					display: inline-block;
					padding: 5px;
					content: '/';
				}
			}
		}
	}
	#posts_pagination ul {
		padding-top: 15px;
		.page-link {
			color: #555;

			&:focus {
				border-color: $mainColor;
				box-shadow: none;
			}
		}
		li.active a,
		a:focus {
			color: #fff;
			background-color: $mainColor;
			border-color: $mainColor;
		}
	}
}
/*!----- BLOG SIDEBAR SECTION -------*/
#sidebar {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
	padding: 30px;
	margin-bottom: 20px;

	.widget {
		margin-bottom: 40px;

		h3.sidebar-title {
			font-size: 22px;
			text-transform: uppercase;
			position: relative;
			margin-bottom: 26px;

			&::after {
				content: '';
				height: 2px;
				width: 60px;
				position: absolute;
				left: 0;
				bottom: -10px;
				background: $mainColor;
			}
		}
		.image {
			max-width: 580px;
			padding: 18px 0;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
	}
}
/*!----- FOOTER -------*/
footer {
	color: #bbb;
	padding: 10px;
	background: #222;
	text-align: center;
	margin-top: 40px;

	.container .col-md-6 {
		margin: 10px auto;
	}
	.social a i {
		font-size: 19px;
	}

	// Back2Top BUTTON
	#back2Top {
		position: fixed;
		right: 20px;
		bottom: 30px;
		z-index: 90;
		transition: 1s;
		background: $mainColor;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		transition: 1s;
		cursor: pointer;
		// hide button
		transform: translateY(200px);

		.bi {
			color: #fff;
			font-size: 38px;
		}

		&._show {
			transform: translateY(0);
		}
	}
}

/*!----- RESPONSIVE STYLES -------*/
@include mobile {
	header {
		.main_navbar {
			justify-content: center;

			#searchForm {
				transform: translateY(-100vh);
				width: 100vw;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				display: grid;
				place-content: center;
				z-index: 5;

				form.search_form {
					width: 85vw;
					height: 45px;
					margin-bottom: 50%;
					z-index: 6;
				}
				.overlay {
					width: 100vw;
					height: 100vh;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(26, 26, 26, 0.94);
				}
				&.slideUp {
					transform: translateY(0);
				}
			}
		}
		.navbar .navbar-collapse ul {
			background: #fff;
			a.nav_link {
				color: #222;
				padding: 12px;
				margin: 0;
				border-bottom: 1px solid #ddd;
				&:hover {
					background: #f5f5f5;
				}
			}
		}
	}
	main {
		.cover_title .container {
			flex-direction: column;
			._title {
				margin-bottom: 0;
			}
		}
		#sidebar {
			padding: 30px 20px;
		}
	}
}
